header {
  padding: 1.5em 1.5em 0 1.5em;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title h1 {
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 0.2em;
}

.title p {
  margin-bottom: 0.5em;
  font-size: 0.9em;
  color: #1C1C1C;
  opacity: 40%;
  font-weight: 500;
}

.logo {
  font-size: 0.9em;
}